body {
    font-family: cursive;
    font-style: normal;
    margin: 0;
}

header {
    position: fixed;
    background-color: darkgrey;
    color: rgb(0, 5, 5);
    font-weight: 500; /* Adjusted for clarity */
    text-align: left;
    height: 2.5em;
    width: 100%;
    padding: 0.5em;
}

.menu-item {
    display: inline-block;
    margin: 0;
    min-width: 8em;
    text-align: center;
    background-color: #26272b;
    padding: 0.5em;
}

/* Style the links: */
.menu-item a {
    color: white;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #1CCDCA;
}

/* Add a dropdown feature: */
.dropdown {
    display: inline-block;
    position: relative; /* Ensure relative positioning */
    margin: 0;
    min-width: 8em;
    text-align: center;
    background-color: black;
    padding: 0.5em;
}

.dropdown a {
    color: white;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    top: 100%; /* Adjusted position */
    left: 0;
    z-index: 100; /* Ensure high z-index */
    margin-top: 0.5em;
    background-color: white; /* Corrected background color */
}

.dropdown:hover .dropdown-content {
    display: block; /* Ensures dropdown displays on hover */
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}

.dropdown-item:hover {
    background-color: #a2a2a2;
}

.dropdown-item a {
    color: #000;
}

.dropdown-item:hover a {
    color: #baf0ef;
}

.mainlogo {
    float: left;
}

.jewelryimage {
    width: 300px;
    height: 300px;
}

.jewelry {
    width: 300px;
    height: 300px;
}
