div{
    text-align: left;
    font-family: RobotoMono;
    font-style: normal;
    margin: 10px;
}


#ring {
    font-weight: 800;
}

    #ring:hover {
        background: url("../images/ring.jpg");
        float: right;
        display: block;
        width: 500px;
        height: 400px;
    }

#montana:hover:after {
    content:"321 Main St Polson, MT 59860";
    font-weight: 400;
    color:blue;
    font-style: bold;
}