div{
    text-align: left;
    font-family: cursive;
    font-style: normal;
    margin: 12px;
}

.title{
    .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-size: 90px;
        color: black;
        background-color: lightskyblue;
        text-align: center;
      }
  

    }

    #ring:hover {
        background: url("../images/ring.jpg");
        float: right;
        display: block;
        width: 500px;
        height: 400px;
    }

