
* {
    box-sizing: border-box;
}


body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    padding-top: 4em; 
}


header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #042dd1;
    text-transform: uppercase;
    height: 4em;
    width: 100%;
    padding: 0.5em 1em;
    z-index: 1000; 
}

/* Define menu layout */
.menu-item {
    display: inline-block;
    margin: 0.5em 0.2em;
    min-width: 6em;
    text-align: center;
    background-color: #20f1cb;
}

/* Style the menu links */
.menu-item a {
    color: white;
    text-decoration: none;
}


.menu-item:hover {
    background-color: rgb(0, 0, 0);
}


.dropdown {
    display: inline-block;
    position: relative;
}

/* Dropdown content styling */
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #06fbf7;
    background-color: rgb(5, 5, 5);
    margin-top: 0.5em;
    min-width: 8em;
    z-index: 1000;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a {
    color: rgb(56, 50, 170);
    padding: 0.5em;
    text-decoration: none;
}

.dropdown-item {
    text-align: left;
}

.dropdown-item:hover {
    background-color: #f0f0f0; 
    color: blue; 
}


div {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}


p {
    line-height: 1.45em;
    font-size: 16px;
    text-align: left;
}


h1, h3, h5 {
    text-align: center;
    font-family: Arial, sans-serif;
}


.secondimage {
    float: right;
}

.thirdimage {
    width: 50%; 
    margin: auto;
}

.fourthimage, .fifthimage {
    width: 50%;
    margin: auto;
}


[class*="col-"] {
    float: left;
    padding: 15px;
    width: 33%; 
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Contact us section */
.contactus {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}


@media only screen and (min-width: 500px) {
    .secondimage {
        float: right;
        content:url("../images/logo.png");
    }
    
    .thirdimage {
        float: none; 
    }
    
    .fourthimage {
        content: url("../images/logo.png");
    }
    
    .fifthimage {
        content: url("../images/bracelet1.jpeg");
    }
}


