
* {
    box-sizing: border-box;
}
.textareacomments{
    padding-bottom: 300px;
}


body {
    background-color: rgb(116, 116, 115);
    font-family: Arial, sans-serif;
}
div{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    padding: 5px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #030e3a;
    text-transform: uppercase;
    height: 4em;
    width: 100%;
    padding: 0.5em 1em;
    z-index: 1000; 
}

/* Define menu layout */
.menu-item {
    display: inline-block;
    margin: 1em 0.2em;
    min-width: 6em;
    text-align: center;
    background-color: #26272b;
}

/* Style the menu links */
.menu-item a {
    color: white;
    text-decoration: none;
}

/* Change background color on hover */
.menu-item:hover {
    background-color: rgb(0, 0, 0);
}

/* Add dropdown functionality */
.dropdown {
    display: inline-block;
    position: relative;
}


.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid rgb(6, 251, 247);
    background-color: white;
    margin-top: 0.5em;
    min-width: 8em; /* Ensure dropdown is wide enough */
    z-index: 1000; /* Ensure it appears above other elements */
}

.dropdown:hover .dropdown-content {
    display: block; /* Show the dropdown on hover */
}

.dropdown-content a {
    color: black;
    padding: 0.5em;
}

.dropdown-item {
    text-align: left;
}

.dropdown-item:hover {
    background-color: #f0f0f0; /* Light gray on hover */
    color: blue; /* Change text color on hover */
}

.opening-parahraph{
    color:black;
    font-size: 18px;
    text-indent: 10px;
    font-weight: 600;

}
.second-paragraph{
    font-size:18px;
}

p {
    line-height: 1.45em;
    font-size: 16px;
    text-align: left;
}


h1, h3, h5 {
    text-align: center;
    font-family: Arial, sans-serif;
}


.mainimage {
    float: right;
    width: 100px; 
    height: 100px;
    content: url("../images/logo.png");
}
@media only screen and (min-width: 500px) {
    .mainimage{
        content: url("../images/logo.png");
    }
}
.secondimage{
    float:right;
    content: url("../images/logo.png");
}
@media only screen and (min-width:500px) {
    .secondimage{
        float:right;
        content:url("../images/logo.png")
    }
}


[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table; /* Clear float for rows */
}


.contactus {
    width: 50%;
    margin: 0 auto; /* Center the contact form */
    text-align: left;
}

.textareacomments {
    padding-bottom: 10px; 
}
